<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="alertMapper">

<resultMap id="alertResultSet"  type="Alert">
		<result column="ALERT_ID" property="alertId"/>
		<result column="USER_ID" property="userId"/>
		<result column="ALERT_MESSAGE" property="alertMessage"/>
		<result column="ALERT_TYPE" property="alertType"/>
	</resultMap>
	
		<!-- SetAlert Map -->
	<resultMap id="setAlertResultSet" type="SetAlert">
        <result column="USER_ID" property="userId"/>
        <result column="POST_ALERT" property="postAlert"/>
        <result column="PICK_ALERT" property="pickAlert"/>
        <result column="COMMENT_ALERT" property="commentAlert"/>
        <result column="COMMENT_LIKE_ALERT" property="commentLikeAlert"/>
    </resultMap>
	
	
	<select id="selectSaveList" resultMap="alertResultSet">
		SELECT * FROM (
			SELECT * FROM ALERT
				WHERE USER_ID = #{userId}  
        		ORDER BY ALERT_ID DESC
			)
		WHERE (ROWNUM BETWEEN 1 AND 15) AND ALERT_TYPE IN (#{postAlert},#{pickAlert},#{commentAlert},#{commentLikeAlert})
	</select>
	

	
	
</mapper>