<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="loginMember">
		SELECT * FROM MEMBER WHERE USER_ID = ? AND PASSWORD = ?
	</entry>
	<entry key="insertMember">
		INSERT INTO MEMBER VALUES (?,?,?,?,?,?,?,?,?,?)
	</entry>
	<entry key="userIdCheck">
		SELECT COUNT(*) COUNT FROM MEMBER WHERE USER_ID = ?
	</entry>
	<entry key="userIdCheck">
        SELECT COUNT(*) COUNT FROM MEMBER WHERE USER_ID = ?
    </entry>
    <entry key="findMemberById">
        SELECT USER_ID FROM MEMBER WHERE USER_NAME = ? AND EMAIL = ?
    </entry>
    <entry key="findMemberByPassword">
        SELECT PASSWORD FROM MEMBER WHERE USER_NAME = ? AND EMAIL = ?
    </entry>
</properties>